{% extends "base.html" %}
{% block div %}
<section class="section-content" id="welcome" class="p-b-0">
    <input type="hidden" id="init_chart_data" value="{{ chart_data }}"
    <div class="container">   
        <div class="row" style="margin-bottom: 20px;">            
            <div class="col-lg-4" style="margin-left: 30px;">
                <h3>Current keyword : {{ keyword }}</h3>
            </div>
            <div class="col-lg-4" style="margin-left: 30px;">                        
                <form action="/keyword" method="POST">                    
                    <input type="text" class="" placeholder="Twitter Keyword" name="keyword">
                    <button type="submit" class="btn" style="margin-left: 15px; margin-top: 1px;">Apply</button>
                </form>
            </div>                        
        </div>    
        <div class="row">
            <div class="col-lg-6">
                <div class="card" style="margin: 10px;">
                    <div class="card-header">
                        <span class="h4">Twitter Realtime Line Chart</span>
                    </div>
                    <div class="card-body">
                        <div id="chartdiv_line" class="chart-div"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card" style="margin: 10px;">
                    <div class="card-header">
                        <span class="h4">Twitter Realtime Pie Chart</span>
                    </div>
                    <div class="card-body">
                        <div id="chartdiv_pie" class="chart-div"></div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card" style="margin: 10px;">
                    <div class="card-header">
                        <span class="h4">Top 10 Countries in Twitter</span>
                    </div>
                    <div class="card-body">
                        <div id="chartdiv_bar" class="chart-div"></div>
                    </div>
                </div>                
            </div>
            <div class="col-lg-6">
                <div class="card" style="margin: 10px;">
                    <div class="card-header">
                        <span class="h4">Twitter World</span>
                    </div>
                    <div class="card-body">
                        <div id="chartdiv_map" class="chart-div" style="height: 450px; background-color: #212327;"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}