{% extends "base.html" %}
{% block div %}
<section class="section-content" id="welcome" class="p-b-0">
    <input type="hidden" id="init_chart_data" value="{{ chart_data }}"
    <div class="container">       
        <div class="row">
            <div class="col-lg-6">
                <div id="chartdiv_line" class="chart-div"></div>
            </div>
            <div class="col-lg-6">
                <div id="chartdiv_pie" class="chart-div"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div id="chartdiv_bar" class="chart-div"></div>
            </div>
            <div class="col-lg-6">
                <div id="chartdiv_map" class="chart-div" style="height: 450px;"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}