<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="INSPIRO" />    
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Html Sampling</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/mobirise-icons.css" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">


<header class="masthead_login">
  <div class="container h-100">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Log In</h5>

              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
              <ul class="flashes">
                {% for category, message in messages %}
                <div class="{{ category }}" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
                </div>
              </ul>
              {% endfor %}
              {% endif %}
              {% endwith %}

              <form class="form-signin" method="POST">
                <div class="form-label-group">
                  {{ form.hidden_tag() }}
                  <p>User ID</p>
                  {{ form.username(class="form-control") }}
                </div>

                <div class="form-label-group">
                  <p>Password</p>
                  {{ form.password(class="form-control")}}
                </div>
                
                {{ form.submit(class="btn btn-lg btn-primary btn-block text-uppercase") }}
                
              </form>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
</body>

</html>

